<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <directoryBrowse enabled="true" showFlags="Time, Size" />
        <rewrite>
            <rewriteMaps>
                <rewriteMap name="default.aspx" defaultValue="">
                    <add key="\azan" value="default.aspx" />
                </rewriteMap>
            </rewriteMaps>
            <rules>
                <rule name="Правило переопределения1 для default.aspx">
                    <match url=".*" />
                    <conditions>
                        <add input="{default.aspx:{REQUEST_URI}}" pattern="(.+)" />
                    </conditions>
                    <action type="Rewrite" url="{C:1}" appendQueryString="false" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
